server:
  port: 8084

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
spring:
  data:
    mongodb:
      host: 10.2.24.232
      port: 8017
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@10.2.25.123/ggrdattest
    username: greescmdb2
    password: passwd
  kafka:
    bootstrap-servers: 10.2.24.236:9092 # kafka集群信息
    consumer:
      group-id: test-consumer-group # 消费者组
      enable-auto-commit: true # 关闭自动提交
      auto-commit-interval: 3000
  application:
    name: resource-server
  thymeleaf:
    prefix: classpath:/views/
    suffix: .html
    cache: false
minio:
  url: http://10.2.24.234:9003
  access-key: admin
  secret-key: 12345678
  bucket-name: test
security:
  oauth2:
    resource:
      jwt:
        key-uri: http://localhost:6001/oauth/token_key
        key-value: internet_plus
rocketmq:
  name-server: 10.16.4.9:9876