<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>广播式WebSocket</title>
    <!--    附件 stomp支持js-->
    <script src="js/sockjs.min.js"></script>
    <script src="js/stomp.min.js"></script>
    <script src="js/snow.js"></script>
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap-paginator.min.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/dashboard.css" rel="stylesheet">

</head>
<!--页面加载后 如果原来就有socket对象  就先断开-->
<!--检测浏览器是否支持websocket -->
<noscript><h2 style="color: #e80b0a;">Sorry，浏览器不支持WebSocket</h2></noscript>
<body>
<input type="text" id="name" style="display: none"/>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">IM DEMO</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#myModal">create group</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active">USER LIST</li>
            </ul>
            <ul class="nav nav-sidebar" id="userlist">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>
            <!--<div>-->
                <!--<button id="connect" onclick="connect();">连接</button>-->
                <!--<button id="disconnect" onclick="disconnect();">断开连接</button>-->
            <!--</div>-->

            <div style="width:100%;height:400px; overflow-y:auto;border:1px solid #333;" id="show">

            </div>
            <input type="text" onkeydown="sendName(event)" id="msg" name="msg" class="form-control" placeholder="msg">
            <input type="file" id="exampleInputFile">
        </div>
    </div>
</div>
<div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">preview code</h4>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        getInfo();
        connect();

        userlist();


    });

    $(document).on('change', '.toUser', function () {
        toUser = $('input:radio:checked').val();
        $("#show").html("");
        history(toUser);
        console.log(toUser);
    });

    function selectUser(username,e){
        $("#show").html("");
        history(username);

        $("#userlist li").removeClass("active");

        $(e).parent().addClass("active");
    }

    $(document).on('change', '#exampleInputFile', function () {
        var files = this.files;
        console.log(files[0]);
        var formData = new FormData();
        formData.append("file", files[0]);
        $.ajax({
            method :'POST',
            url:'upload',
            dataType:'json',
            data:formData,
            processData : false,
            contentType : false,
            beforeSend: function (XMLHttpRequest) {
                XMLHttpRequest.setRequestHeader("Authorization", "Bearer " + access_token);
            },
            success: function(data) {
                if(data.code == 200){

                    console.log(data)
                    let object = {};
                    var uuid = new Snowflake(1n, 1n, 0n).nextId().toString();
                    object.msgId = uuid;
                    object.type = 3;
                    object.toUserId = toUser;
                    object.msg = data.msg;
                    send(JSON.stringify(object));

                    var str = '<div style="text-align:right">' + object.msg +' : ' + $("#name").val()  + '</div>';
                    $("#show").append(str);
                }else{
                    alert();
                }
            },
            error : function(data) {
                alert();
            }
        });
    });


    let url = "ws://localhost:9091";
    let access_token = getCookie();
    let ws;
    let toUser;

    function history(toUser1) {
        $.ajax({
            url: '../history',
            dataType: 'json',
            type: 'get',
            data: {
                "fromUsername": toUser1
            },
            beforeSend: function (XMLHttpRequest) {
                XMLHttpRequest.setRequestHeader("Authorization", "Bearer " + access_token);
            },
            success: function (data) {
                data.data.forEach((item, index, data) => {
                    if ($("#name").val() == item.from_id) {
                        var str = '<div style="text-align:right">' + item.content +' : ' + item.from_id  + '</div>';
                        $("#show").append(str);
                    } else {
                        var str = '<div style="text-align:left">' + item.to_id +' : ' + item.content  + '</div>';
                        $("#show").append(str);
                    }
                })
            }
        });
    }

    function getInfo() {
        $.ajax({
            url: '../getInfo',
            dataType: 'json',
            type: 'get',
            data: {},
            beforeSend: function (XMLHttpRequest) {
                XMLHttpRequest.setRequestHeader("Authorization", "Bearer " + access_token);
            },
            success: function (data) {
                $("#name").val(data.name);
            },
            error: function (data) {
                if (data.status == 401) {
                    alert("请登录");
                    window.location.href = 'http://localhost:8084/login';
                }
            }
        });
    }

    function userlist() {
        $.ajax({
            url: '../userlist',
            dataType: 'json',
            type: 'get',
            data: {},
            beforeSend: function (XMLHttpRequest) {
                XMLHttpRequest.setRequestHeader("Authorization", "Bearer " + access_token);
            },
            success: function (data) {
                var str = "";
                data.forEach((item, index, data) => {
                    if ($("#name").val() != item.user_name) {
                        str += ' <li><a href="javascript:void(0)" onclick="selectUser('+item.user_name+', this)">'+item.user_name+'</a></li>';
                    }
                })
                $("#userlist").html(str);
            },
        });
    }

    function init() {

        ws.onopen = function (evt) {
            console.log("WebSocket 连接成功!!");
            let object = {};
            object.type = 1;
            send(JSON.stringify(object));
        };

        ws.onmessage = function (event) {
            let data = JSON.parse(event.data);

            var show = document.getElementById("show");
            if(data.status == 200){
                if(data.type == 1){
                    show.innerHTML += data.params.message + "<br/>";
                }else{
                    show.innerHTML += toUser+ ' : '+data.params.message + "<br/>";
                }
            }
        }
    }

    function send(message) {
        if (!window.WebSocket) {
            return;
        }
        if (ws.readyState === ws.OPEN) {
            ws.send(message);

        } else {
            alert("WebSocket连接没有建立成功！！");
        }
    }

    function creategroup() {
        $.ajax({
            url: '../getInfo',
            dataType: 'json',
            type: 'get',
            data: {},
            beforeSend: function (XMLHttpRequest) {
                XMLHttpRequest.setRequestHeader("Authorization", "Bearer " + access_token);
            },
            success: function (data) {
                $("#name").val(data.name);
            },
            error: function (data) {
                if (data.status == 401) {
                    alert("请登录");
                    window.location.href = 'http://localhost:8084/login';
                }
            }
        });
    }

    //点击连接 时候触发的事件 【这个函数 除了更改自己url 或者添加自己的业务逻辑  一般不用修改 】
    function connect() {
        try {
            ws = new WebSocket(url + "/" + access_token);
            init();
        } catch (e) {
            console.log(e);
        }
    }

    function getCookie() {
        var token = "";
        var cookie_name = "access_token";
        var allcookies = document.cookie;
        var cookie_pos = allcookies.indexOf(cookie_name);
        if (cookie_pos != -1) {
            cookie_pos += cookie_name.length + 1;
            var cookie_end = allcookies.indexOf(";", cookie_pos);
            if (cookie_end == -1) {
                cookie_end = allcookies.length;
            }
            token = unescape(allcookies.substring(cookie_pos, cookie_end));
        }
        return token
    }

    //断开连接
    function disconnect() {
        ws.close()
        document.getElementById("show").innerHTML = "";
        document.getElementById("show").innerHTML += "断开连接<br/>";
        document.getElementById("msg").value = "";
    }

    //发送私聊
    function sendName(event) {
        var evt = window.event || e;
        if (evt.keyCode == 13) {
            let object = {};
            var uuid = new Snowflake(1n, 1n, 0n).nextId().toString();
            object.msgId = uuid;
            object.type = 2;
            object.toUserId = toUser;
            object.msg = $("#msg").val();
            send(JSON.stringify(object));

            var str = '<div style="text-align:right">' + object.msg +' : ' + $("#name").val()  + '</div>';
            $("#show").append(str);
        }
    }

    //展示 返回的消息
    function showResponse(message) {
    }
</script>
</body>
</html>